configuration {
	show-icons: false;
	font: "JetBrainsMono Nerd Font 12";
}

*{
	background: #1e1e2e;
	foreground: #cddf64;
	border-color: #89b4fa;
}

window {
	width: 30%;
	border: 2px;
	border-radius: 10px;
}

mainbox {
	padding: 10px;
}

element selected {
	background-color: #313244;
}
